In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('owid-covid-data.csv')

In [6]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [27]:
new_df = df[['location', 'date', 'total_cases', 'total_deaths', 'new_cases_smoothed', 'new_deaths_smoothed', 'hosp_patients', 'total_vaccinations', 'total_vaccinations_per_hundred', 'hosp_patients_per_million']]

In [28]:
from IPython.display import display, HTML

In [32]:
# display(HTML(new_df.to_html(max_rows=200, max_cols=50, notebook=True)))

In [30]:
new_df[(new_df['location'] == 'United Kingdom') & (new_df['total_cases'] > 0)]

,location,date,total_cases,total_deaths,new_cases_smoothed,new_deaths_smoothed,hosp_patients,total_vaccinations,total_vaccinations_per_hundred,hosp_patients_per_million
401805,United Kingdom,2020-02-02,1.0,1.0,0.143,0.143,NaN,NaN,NaN,NaN
401806,United Kingdom,2020-02-03,1.0,1.0,0.143,0.143,NaN,NaN,NaN,NaN
401807,United Kingdom,2020-02-04,1.0,1.0,0.143,0.143,NaN,NaN,NaN,NaN
401808,United Kingdom,2020-02-05,1.0,1.0,0.143,0.143,NaN,NaN,NaN,NaN
401809,United Kingdom,2020-02-06,1.0,1.0,0.143,0.143,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
403446,United Kingdom,2024-07-31,24971229.0,232112.0,590.143,0.000,NaN,NaN,NaN,NaN
403447,United Kingdom,2024-08-01,24971229.0,232112.0,590.143,0.000,NaN,NaN,NaN,NaN
403448,United Kingdom,2024-08-02,24971229.0,232112.0,590.143,0.000,NaN,NaN,NaN,NaN
403449,United Kingdom,2024-08-03,24971229.0,232112.0,590.143,0.000,NaN,NaN,NaN,NaN
403450,United Kingdom,2024-08-04,24974629.0,232112.0,485.714,0.000,NaN,NaN,NaN,NaN

In [37]:
new_df.to_csv('covid_data.csv')

In [ ]:
new_df[
    (new_df['location'] == 'United States') & 
    (new_df['total_vaccinations'].notna())
][['location', 'date']]

             location        date
403794  United States  2020-12-13
403795  United States  2020-12-14
403796  United States  2020-12-15
403797  United States  2020-12-16
403798  United States  2020-12-17
...               ...         ...
404667  United States  2023-05-05
404668  United States  2023-05-06
404669  United States  2023-05-07
404670  United States  2023-05-08
404671  United States  2023-05-09

[878 rows x 2 columns]

In [57]:
new_df[
    (new_df['location'] == 'China') & 
    (new_df['hosp_patients'].notna())
][['location', 'date']]

Empty DataFrame
Columns: [location, date]
Index: []